
<nav class="navbar bg navbar-dark ">
    <a class="navbar-brand" >
      <p class="p" >Experimentality</p>
            <!-- <img src="src/assets/images/experimentalitycerebro_negativo.png" width="180" height="40" alt=""> -->

    </a>
    <form class="form-inline">
      <input 
      class="form-control mr-sm-2" 
      type="search" 
      placeholder="Search" 
      aria-label="Search"
      [(ngModel)]="search"
      name="search">
      <button class="btn button my-2 my-sm-0" type="submit" (click)="getSearch()">Search</button>
    </form>
  </nav>
 